<div
  class="fill-height fill-width window-mask"
  *ngIf="Model.show"
  [ngClass]="{
    none: !mask
  }"
  [ngStyle]="{
    zIndex: content.style.zIndex
  }"
>
  <div
    #content
    class="window-content"
    [ngClass]="{ 'custom-form-wrap': Background }"
    [ngStyle]="style"
  >
    <div class="window-content-head">
      <div class="window-title">
        <div class="hw-simple-title" *ngIf="title">{{ title }}</div>
      </div>
      <div class="close-winow" (click)="closeButtonClick()" *ngIf="CloseButton">
        <i class="howell-icon-Close alert-window-close-btn"></i>
      </div>
    </div>

    <div class="window-content-body" [ngClass]="{ notitle: !title }">
      <ng-content></ng-content>
    </div>
  </div>
</div>
