/* You can add global styles to this file, and also import other style files */
@import url(themify-icons/themify-icons.css);
@import url(font-awesome/font-awesome.css);
@import url(glyphicons/glyphicons-halflings.css);
@import url(howell.font/howell.font.css);
@import url(material-design-icons/materialdesignicons.min.css);
@import url(ionicons/ionicons.min.css);
@import url(material-icon/material-icon.css);
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/a11y-prebuilt.css';
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
table,
tr,
td,
th {
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/img/bg.jpg");
  color: #cfd7ff;
}
.hw-simple-title {
  font-size: 24px;
  color: #fff;
  flex-shrink: 0;
}
.hw-simple-title-sub {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #fff;
  flex-shrink: 0;
}
.hw-simple-title-1 {
  font-size: 18px;
  color: #cfd7ff;
  flex-shrink: 0;
}
.hw-second-title {
  width: 240px;
  height: 60px;
  background-image: url(/assets/img/title/second-title.png);
  background-repeat: no-repeat;
  background-size: calc(100%) 100%;
  background-position: center;
  margin: 0 -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  flex-shrink: 0;
}
.hw-form {
  padding: 10px;
  color: #cfd7ff;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 20px 10px;
}
.hw-form-item {
  min-height: 34px;
  display: flex;
  gap: 5px;
}
.hw-form-item-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.hw-form-item-values {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: stretch;
}
.hw-form-1 {
  padding: 10px;
  color: #cfd7ff;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 20px 10px;
}
.hw-form-1-item {
  min-height: 34px;
  display: flex;
  gap: 5px;
}
.hw-form-1-item-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.hw-form-1-item-values {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: stretch;
}
.hw-form-1 .hw-form-item {
  flex-direction: column;
  width: 100%;
}
.hw-green-m-btn {
  width: 46px;
  height: 34px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-image: url("/assets/img/button/green-m-btn.png");
}
.hw-green-m-btn:disabled {
  filter: brightness(60%);
}
.hw-green-m-btn:hover {
  background-image: url("/assets/img/button/green-m-btn-hover.png");
}
.hw-green-m-btn:active {
  background-image: url("/assets/img/button/green-m-btn-focus.png");
}
.hw-blue-m-btn {
  width: 46px;
  height: 34px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-image: url("/assets/img/button/blue-m-btn.png");
}
.hw-blue-m-btn:disabled {
  filter: brightness(60%);
}
.hw-blue-m-btn:hover {
  background-image: url("/assets/img/button/blue-m-btn-hover.png");
}
.hw-blue-m-btn.active {
  background-image: url("/assets/img/button/blue-m-btn-focus.png");
}
.hw-cyan-m-btn {
  width: 46px;
  height: 34px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-image: url("/assets/img/button/cyan-m-btn.png");
}
.hw-cyan-m-btn:disabled {
  filter: brightness(60%);
}
.hw-cyan-m-btn:hover {
  background-image: url("/assets/img/button/cyan-m-btn-hover.png");
}
.hw-cyan-m-btn.active {
  background-image: url("/assets/img/button/cyan-m-btn-focus.png");
}
.hw-gray-m-btn,
.hw-gray-btn {
  width: 46px;
  color: rgba(207, 215, 255, 0.5);
  height: 34px;
  border: 1px solid rgba(94, 110, 191, 0.5);
  background: #0c1127;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
}
.hw-gray-m-btn:disabled,
.hw-gray-btn:disabled {
  filter: brightness(60%);
}
.hw-gray-btn {
  padding: 0 12px;
  min-width: 78px;
}
.hw-gray-m-btn:hover,
.hw-gray-btn:hover {
  border: 1px solid #5e6ebf;
  color: #eaedff;
}
.hw-gray-btn {
  width: auto;
}
.hw-green-btn {
  padding: 0 12px;
  height: 34px;
  min-width: 78px;
  font-size: 16px;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-size: 100% 100%;
  flex-shrink: 0;
  color: white;
  background-image: url("/assets/img/button/green-btn.png");
}
.hw-green-btn:disabled {
  filter: brightness(60%);
}
.hw-green-btn:hover {
  background-image: url("/assets/img/button/green-btn-hover.png");
}
.hw-green-btn:active {
  background-image: url("/assets/img/button/green-btn-focus.png");
}
.hw-green-btn.black {
  background: #0d5d15;
  cursor: no-drop;
}
.hw-red-btn {
  padding: 0 12px;
  height: 34px;
  min-width: 78px;
  font-size: 16px;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-size: 100% 100%;
  flex-shrink: 0;
  color: white;
  background-image: url("/assets/img/button/red-btn.png");
}
.hw-red-btn:disabled {
  filter: brightness(60%);
}
.hw-red-btn:not(.black):hover {
  background-image: url("/assets/img/button/red-btn-hover.png");
}
.hw-red-btn:active {
  background-image: url("/assets/img/button/red-btn-focus.png");
}
.hw-red-btn.black {
  background: #570c0c;
  cursor: no-drop;
}
.hw-blue-btn {
  padding: 0 12px;
  height: 34px;
  min-width: 78px;
  font-size: 16px;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-size: 100% 100%;
  flex-shrink: 0;
  color: white;
  background-image: url("/assets/img/button/blue-btn.png");
}
.hw-blue-btn:disabled {
  filter: brightness(60%);
}
.hw-blue-btn:hover {
  background-image: url("/assets/img/button/blue-btn-hover.png");
}
.hw-blue-btn:active {
  background-image: url("/assets/img/button/blue-btn-focus.png");
}
.hw-blue-btn.black {
  background: #194076;
  cursor: no-drop;
}
.hw-cyan-btn {
  padding: 0 12px;
  height: 34px;
  min-width: 78px;
  font-size: 16px;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: 0px;
  background-size: 100% 100%;
  flex-shrink: 0;
  color: white;
  background-image: url("/assets/img/button/cyan-btn.png");
}
.hw-cyan-btn:disabled {
  filter: brightness(60%);
}
.hw-cyan-btn:hover {
  background-image: url("/assets/img/button/cyan-btn-hover.png");
}
.hw-cyan-btn:active {
  background-image: url("/assets/img/button/cyan-btn-focus.png");
}
.hw-cyan-btn.black {
  background: #144c4e;
  cursor: no-drop;
}
.blue-round-btn {
  width: 69px;
  height: 69px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/assets/img/button/blue-round.png");
}
.gray-round-btn {
  width: 69px;
  height: 69px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/assets/img/button/gray-round.png");
}
.middle-round-btn {
  background-image: url("/assets/img/button/middle-round.png");
  width: 99px;
  height: 99px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hw-input-button {
  display: flex;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: inherit;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  color: #cfd7ff;
  border: 1px solid #5e6ebf;
  font-size: 16px;
  border-radius: unset;
  background-color: #1d233b;
  box-sizing: border-box;
  outline: none;
}
input[type="file"] {
  display: none;
}
textarea {
  resize: none;
  padding: 0;
  padding: 4px 12px 0px;
  min-height: 200px;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  color: #cfd7ff;
  border: 1px solid #5e6ebf;
  font-size: 16px;
  border-radius: unset;
  background-color: #1d233b;
  box-sizing: border-box;
  outline: none;
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  background-color: #0d1f38;
  border: 1px solid #3a93ff;
  color: #cfd7ff;
}
input[type="text"][disabled],
input[type="number"][disabled],
textarea[disabled] {
  opacity: 0.7;
  border-color: rgba(94, 110, 191, 0.5);
}
select {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  color: #cfd7ff;
  border: 1px solid #5e6ebf;
  font-size: 16px;
  border-radius: unset;
  background-color: #1d233b;
  box-sizing: border-box;
  outline: none;
  padding-right: 30px;
  min-width: 120px;
  background-image: url("/assets/img/button/technology-custom-select.png");
  appearance: none;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
}
select:disabled {
  opacity: 0.7;
  border-color: rgba(94, 110, 191, 0.5);
}
::-moz-placeholder {
  color: #cfd7ff;
  opacity: 0.5;
}
::-webkit-input-placeholder {
  color: #cfd7ff;
  opacity: 0.5;
}
::-ms-placeholder {
  color: #cfd7ff;
  opacity: 0.5;
}
/* 滚动条整体样式*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.bold-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  /* 内层轨道 */
  background-color: rgba(50, 131, 229, 0);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(117, 134, 224, 0.5);
  background-clip: padding-box;
  border-radius: 8px;
  min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7586e0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  transition-delay: 99999s;
  -webkit-transition: color 99999s, background-color 99999s;
  transition: color 99999s, background-color 99999s;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
a {
  cursor: pointer;
  color: #7586e0;
  margin-right: 5px;
}
a:hover {
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.select-control {
  position: relative;
}
.select-control .please {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
  padding: 0 10px;
}
.select-control .clear {
  position: absolute;
  right: 30px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-control .clear:hover {
  color: white;
}
.howell-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.directive-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mdi.mdi-close {
  margin-bottom: -2px;
}
.mat-tooltip {
  margin: 0 !important;
  background: rgba(0, 0, 0, 0.9);
}
body > .cdk-overlay-container {
  z-index: 9002;
}
body > .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel {
  background-color: #151b33;
  border: 2px solid #7a8de6;
  border-radius: 0;
}
body > .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel .mat-menu-content {
  padding: 0;
}
body > .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel .mat-menu-content .mat-menu-item {
  background-color: transparent;
  color: #cfd7ff;
  font-size: 1.1rem;
  cursor: auto;
  cursor: pointer;
}
body > .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel .mat-menu-content .mat-menu-item [class^="howell-icon"] {
  margin-right: 5px;
}
body > .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel .mat-menu-content .mat-menu-item .mat-menu-submenu-icon {
  color: currentColor;
}
body > .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel .mat-menu-content .mat-menu-item:hover {
  background-color: #4a8bd0;
  color: #fff;
}
app-root {
  /*保留*/
}
app-root .mat-tree {
  width: 100%;
  height: 100%;
  font-family: "Source Han Sans CN Normal";
  background-color: transparent;
  box-sizing: border-box;
}
app-root .mat-tree .mat-tree-node,
app-root .mat-tree .mat-nested-tree-node {
  color: #cfd7ff;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  min-height: 35px;
  padding-right: 10px;
}
app-root .mat-tree .mat-tree-node:hover,
app-root .mat-tree .mat-nested-tree-node:hover {
  background-color: #2e3459;
}
app-root .mat-tree .mat-tree-node.high-light,
app-root .mat-tree .mat-nested-tree-node.high-light {
  background-color: #2d76ce;
}
app-root .mat-tree .mat-tree-node.hide,
app-root .mat-tree .mat-nested-tree-node.hide {
  display: none;
}
app-root .mat-tree .mat-tree-node button.tree-select,
app-root .mat-tree .mat-nested-tree-node button.tree-select {
  width: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  user-select: none;
  cursor: pointer;
  margin: 0;
  border-radius: 5px;
  flex-shrink: 0;
}
app-root .mat-tree .mat-tree-node button.tree-select .select.expanded,
app-root .mat-tree .mat-nested-tree-node button.tree-select .select.expanded {
  transform: translate(-3px, 3px) rotate(90deg);
}
app-root .mat-tree .mat-tree-node button.tree-select .select,
app-root .mat-tree .mat-nested-tree-node button.tree-select .select {
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
}
app-root .mat-tree .mat-tree-node > div,
app-root .mat-tree .mat-nested-tree-node > div {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 35px;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}
app-root .mat-tree .mat-tree-node > div.node-content,
app-root .mat-tree .mat-nested-tree-node > div.node-content {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
app-root .mat-tree .mat-tree-node > div.node-content .content-right,
app-root .mat-tree .mat-nested-tree-node > div.node-content .content-right {
  display: flex;
  align-items: center;
}
app-root .mat-tree .mat-tree-node .mat-checkbox,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox {
  flex-grow: 1;
}
app-root .mat-tree .mat-tree-node .mat-checkbox label.mat-checkbox-layout,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox label.mat-checkbox-layout {
  width: 100%;
}
app-root .mat-tree .mat-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container {
  margin: 0;
  margin-right: 8px;
  width: 14px;
  height: 14px;
}
app-root .mat-tree .mat-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background: transparent !important;
}
app-root .mat-tree .mat-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-checkmark-path,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-checkmark-path {
  stroke-width: 4px;
}
app-root .mat-tree .mat-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-mixedmark,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-mixedmark {
  width: 6px;
  height: 6px;
  border-radius: 0;
}
app-root .mat-tree .mat-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-frame,
app-root .mat-tree .mat-nested-tree-node .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-frame {
  border-color: #7586e0;
}
app-root .mat-nested-tree-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
app-root .mat-nested-tree-node .parent-node {
  display: flex;
  align-items: center;
}
app-root .mat-nested-tree-node .node-outlet {
  padding-left: 25px;
}
app-root .mat-icon {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
app-root .mat-toolbar {
  line-height: 1;
  padding-right: 0;
  height: 100%;
  background-color: rgba(12, 17, 39, 0.9);
  background-image: linear-gradient(to bottom, rgba(127, 148, 255, 0) 0%, rgba(127, 148, 255, 0.1) 100%), linear-gradient(to bottom, rgba(216, 244, 255, 0) 85%, rgba(216, 244, 255, 0.1) 100%);
}
app-root .mat-toolbar .spacer {
  flex: auto;
  display: flex;
  justify-content: center;
}
app-root .mat-tab-label,
app-root .mat-tab-link {
  color: white;
}
app-root .mat-tab-label {
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  opacity: 1;
  height: 44px;
  background-size: 100% 44px;
  background-image: url(/assets/img/second-menu.png);
  pointer-events: all;
}
app-root .mat-tab-label .mat-tab-label-content {
  font-size: 18px;
}
app-root .mat-tab-group {
  height: 100%;
  font-family: "Source Han Sans CN Normal";
}
app-root .mat-tab-group.nobody {
  height: auto;
}
app-root .mat-tab-body-wrapper {
  height: 100%;
}
app-root .mat-tab-body {
  pointer-events: all;
}
app-root .mat-tab-label-active {
  background-image: url(/assets/img/second-menu-focus.png);
}
app-root .mat-tab-labels {
  height: 72px;
  display: flex;
  align-items: center;
}
app-root .mat-tab-list {
  margin-left: 236px;
}
app-root .mat-table {
  background-color: #1b2242;
}
app-root .mat-table .mat-header-row {
  background-color: #414b83;
  height: 70px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
app-root .mat-table .mat-header-row .mat-header-cell {
  color: white;
  font-size: 24px;
}
app-root .mat-table .mat-header-row .mat-header-cell > div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
app-root .mat-table .mat-row {
  height: 60px;
  cursor: pointer;
}
app-root .mat-table .mat-row:hover {
  background-color: #3d5492;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
app-root .mat-table .mat-row.high-light {
  background: linear-gradient(to right, #7586e0, #3286e5);
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
app-root .mat-table .mat-row .mat-cell {
  color: #cfd7ff;
  font-size: 18px;
  overflow: auto;
}
app-root .mat-table .mat-row .mat-cell > div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
app-root .mat-table .mat-row img {
  width: 69px;
  height: 40px;
}
app-root .mat-table .mat-row img.contain {
  object-fit: contain;
}
app-root .mat-table .mat-row img.cover {
  object-fit: cover;
}
app-root .mat-table .mat-row i {
  margin-right: 5px;
  color: #7586e0;
}
app-root .mat-table .mat-row i:hover {
  color: #fff;
}
app-root mat-table.zoomIn .mat-row:hover {
  height: 88px;
  background-color: #3d5492;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
app-root mat-table.zoomIn .mat-row:hover img {
  width: 104px;
  height: 60px;
}
app-root mat-table .mat-row.high-light i {
  color: #cfd7ff;
}
app-root mat-table .mat-row.high-light i:hover {
  color: #fff;
}
app-root mat-cell:last-of-type,
app-root mat-header-cell:last-of-type,
app-root mat-footer-cell:last-of-type {
  padding-right: 0;
}
app-root mat-cell:last-of-type div,
app-root mat-header-cell:last-of-type div,
app-root mat-footer-cell:last-of-type div {
  text-align: center;
}
app-root mat-header-cell:last-of-type {
  padding-right: 10px;
}
app-root mat-cell:first-of-type,
app-root mat-header-cell:first-of-type,
app-root mat-footer-cell:first-of-type {
  padding-left: 24px;
}
app-root mat-cell,
app-root mat-header-cell,
app-root mat-footer-cell {
  width: 0;
}
app-root .mat-slider {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  outline: none;
  vertical-align: middle;
}
app-root .mat-slider:not(.mat-slider-disabled):active,
app-root .mat-slider.mat-slider-sliding:not(.mat-slider-disabled) {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
app-root .mat-slider-wrapper {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  position: absolute;
}
app-root .mat-slider-track-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
app-root .mat-slider-track-fill {
  position: absolute;
  transform-origin: 0 0;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-track-background {
  position: absolute;
  transform-origin: 100% 100%;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-ticks-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
app-root .mat-slider-ticks {
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background-repeat: repeat;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-thumb-container {
  position: absolute;
  z-index: 1;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-focus-ring {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider.cdk-keyboard-focused .mat-slider-focus-ring,
app-root .mat-slider.cdk-program-focused .mat-slider-focus-ring {
  transform: scale(1);
  opacity: 1;
}
app-root .mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb-label,
app-root .mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb {
  cursor: -webkit-grab;
  cursor: grab;
}
app-root .mat-slider-thumb {
  position: absolute;
  right: -10px;
  bottom: -10px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  border-radius: 50%;
  transform: scale(0.7);
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-thumb-label {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), border-radius 400ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .cdk-high-contrast-active .mat-slider-thumb-label {
  outline: solid 1px;
}
app-root .mat-slider-thumb-label-text {
  z-index: 1;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-sliding .mat-slider-track-fill,
app-root .mat-slider-sliding .mat-slider-track-background,
app-root .mat-slider-sliding .mat-slider-thumb-container {
  transition-duration: 0ms;
}
app-root .mat-slider-has-ticks .mat-slider-wrapper::after {
  content: "";
  position: absolute;
  border-width: 0;
  border-style: solid;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
app-root .mat-slider-has-ticks.cdk-focused:not(.mat-slider-hide-last-tick) .mat-slider-wrapper::after,
app-root .mat-slider-has-ticks:hover:not(.mat-slider-hide-last-tick) .mat-slider-wrapper::after {
  opacity: 1;
}
app-root .mat-slider-has-ticks.cdk-focused:not(.mat-slider-disabled) .mat-slider-ticks,
app-root .mat-slider-has-ticks:hover:not(.mat-slider-disabled) .mat-slider-ticks {
  opacity: 1;
}
app-root .mat-slider-thumb-label-showing .mat-slider-focus-ring {
  display: none;
}
app-root .mat-slider-thumb-label-showing .mat-slider-thumb-label {
  display: flex;
}
app-root .mat-slider-axis-inverted .mat-slider-track-fill {
  transform-origin: 100% 100%;
}
app-root .mat-slider-axis-inverted .mat-slider-track-background {
  transform-origin: 0 0;
}
app-root .mat-slider:not(.mat-slider-disabled).cdk-focused.mat-slider-thumb-label-showing .mat-slider-thumb {
  transform: scale(0);
}
app-root .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
  border-radius: 50% 50% 0;
}
app-root .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label-text {
  opacity: 1;
}
app-root .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
app-root .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb,
app-root .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
  border-width: 2px;
  transform: scale(1);
}
app-root .mat-slider-disabled .mat-slider-focus-ring {
  transform: scale(0);
  opacity: 0;
}
app-root .mat-slider-disabled .mat-slider-thumb {
  border-width: 4px;
  transform: scale(0.5);
}
app-root .mat-slider-disabled .mat-slider-thumb-label {
  display: none;
}
app-root .mat-slider-horizontal {
  height: 48px;
  min-width: 128px;
}
app-root .mat-slider-horizontal .mat-slider-wrapper {
  height: 2px;
  top: 23px;
  left: 8px;
  right: 8px;
}
app-root .mat-slider-horizontal .mat-slider-wrapper::after {
  height: 2px;
  border-left-width: 2px;
  right: 0;
  top: 0;
}
app-root .mat-slider-horizontal .mat-slider-track-wrapper {
  height: 2px;
  width: 100%;
}
app-root .mat-slider-horizontal .mat-slider-track-fill {
  height: 2px;
  width: 100%;
  transform: scaleX(0);
}
app-root .mat-slider-horizontal .mat-slider-track-background {
  height: 2px;
  width: 100%;
  transform: scaleX(1);
}
app-root .mat-slider-horizontal .mat-slider-ticks-container {
  height: 2px;
  width: 100%;
}
app-root .cdk-high-contrast-active .mat-slider-horizontal .mat-slider-ticks-container {
  height: 0;
  outline: solid 2px;
  top: 1px;
}
app-root .mat-slider-horizontal .mat-slider-ticks {
  height: 2px;
  width: 100%;
}
app-root .mat-slider-horizontal .mat-slider-thumb-container {
  width: 100%;
  height: 0;
  top: 50%;
}
app-root .mat-slider-horizontal .mat-slider-focus-ring {
  top: -15px;
  right: -15px;
}
app-root .mat-slider-horizontal .mat-slider-thumb-label {
  right: -14px;
  top: -40px;
  transform: translateY(26px) scale(0.01) rotate(45deg);
}
app-root .mat-slider-horizontal .mat-slider-thumb-label-text {
  transform: rotate(-45deg);
}
app-root .mat-slider-horizontal.cdk-focused .mat-slider-thumb-label {
  transform: rotate(45deg);
}
app-root .cdk-high-contrast-active .mat-slider-horizontal.cdk-focused .mat-slider-thumb-label,
app-root .cdk-high-contrast-active .mat-slider-horizontal.cdk-focused .mat-slider-thumb-label-text {
  transform: none;
}
app-root .mat-slider-vertical {
  width: 48px;
  min-height: 128px;
}
app-root .mat-slider-vertical .mat-slider-wrapper {
  width: 2px;
  top: 8px;
  bottom: 8px;
  left: 23px;
}
app-root .mat-slider-vertical .mat-slider-wrapper::after {
  width: 2px;
  border-top-width: 2px;
  bottom: 0;
  left: 0;
}
app-root .mat-slider-vertical .mat-slider-track-wrapper {
  height: 100%;
  width: 2px;
}
app-root .mat-slider-vertical .mat-slider-track-fill {
  height: 100%;
  width: 2px;
  transform: scaleY(0);
}
app-root .mat-slider-vertical .mat-slider-track-background {
  height: 100%;
  width: 2px;
  transform: scaleY(1);
}
app-root .mat-slider-vertical .mat-slider-ticks-container {
  width: 2px;
  height: 100%;
}
app-root .cdk-high-contrast-active .mat-slider-vertical .mat-slider-ticks-container {
  width: 0;
  outline: solid 2px;
  left: 1px;
}
app-root .mat-slider-vertical .mat-slider-focus-ring {
  bottom: -15px;
  left: -15px;
}
app-root .mat-slider-vertical .mat-slider-ticks {
  width: 2px;
  height: 100%;
}
app-root .mat-slider-vertical .mat-slider-thumb-container {
  height: 100%;
  width: 0;
  left: 50%;
}
app-root .mat-slider-vertical .mat-slider-thumb {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
app-root .mat-slider-vertical .mat-slider-thumb-label {
  bottom: -14px;
  left: -40px;
  transform: translateX(26px) scale(0.01) rotate(-45deg);
}
app-root .mat-slider-vertical .mat-slider-thumb-label-text {
  transform: rotate(45deg);
}
app-root .mat-slider-vertical.cdk-focused .mat-slider-thumb-label {
  transform: rotate(-45deg);
}
app-root [dir=rtl] .mat-slider-wrapper::after {
  left: 0;
  right: auto;
}
app-root [dir=rtl] .mat-slider-horizontal .mat-slider-track-fill {
  transform-origin: 100% 100%;
}
app-root [dir=rtl] .mat-slider-horizontal .mat-slider-track-background {
  transform-origin: 0 0;
}
app-root [dir=rtl] .mat-slider-horizontal.mat-slider-axis-inverted .mat-slider-track-fill {
  transform-origin: 0 0;
}
app-root [dir=rtl] .mat-slider-horizontal.mat-slider-axis-inverted .mat-slider-track-background {
  transform-origin: 100% 100%;
}
app-root .mat-slider._mat-animation-noopable .mat-slider-track-fill,
app-root .mat-slider._mat-animation-noopable .mat-slider-track-background,
app-root .mat-slider._mat-animation-noopable .mat-slider-ticks,
app-root .mat-slider._mat-animation-noopable .mat-slider-thumb-container,
app-root .mat-slider._mat-animation-noopable .mat-slider-focus-ring,
app-root .mat-slider._mat-animation-noopable .mat-slider-thumb,
app-root .mat-slider._mat-animation-noopable .mat-slider-thumb-label,
app-root .mat-slider._mat-animation-noopable .mat-slider-thumb-label-text,
app-root .mat-slider._mat-animation-noopable .mat-slider-has-ticks .mat-slider-wrapper::after {
  transition: none;
}
app-root .mat-slider-track-background,
app-root app-root .mat-slider-track-background {
  background-color: #50565f;
}
app-root .mat-accent .mat-slider-track-fill,
app-root .mat-accent .mat-slider-thumb,
app-root .mat-accent .mat-slider-thumb-label {
  background-color: #69adff;
}
app-root .mat-slider.mat-accent .mat-slider-track-fill,
app-root .mat-slider.mat-accent .mat-slider-thumb,
app-root .mat-slider.mat-accent .mat-slider-thumb-label {
  background-color: #69adff;
}
app-root .mat-slider-horizontal .mat-slider-ticks {
  background-image: none;
}
app-root .mat-slider:hover .mat-slider-track-background,
app-root .mat-slider.cdk-focused .mat-slider-track-background {
  background-color: #50565f;
}
app-root .mat-slider-thumb {
  right: -5px;
  width: 5px;
  height: 14px;
  bottom: -7px;
  border-radius: 0;
  transform: scale(1);
}
app-root .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  border: none;
  background-color: #69adff;
}
app-root .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
app-root .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb,
app-root .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
  border-width: 0px;
  transform: scale(1);
}
app-root .mat-input-element {
  width: 30px;
  vertical-align: sub;
  height: 20px;
  font-size: 14px;
  color: #d8f4ff;
  border: 1px solid #616ABF;
  background: rgba(47, 117, 202, 0.3);
  text-align: center;
}
app-root .mat-input-element:focus {
  outline: none;
}
app-root .mat-checkbox {
  overflow: hidden;
  font-family: inherit;
}
app-root .mat-checkbox .mat-checkbox-layout {
  margin-bottom: 0;
}
app-root .mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #cfd7ff;
}
app-root .mat-checkbox.mat-checkbox-disabled .mat-checkbox-layout .mat-checkbox-label {
  color: rgba(255, 255, 255, 0.6);
}
app-root .mat-checkbox {
  flex-grow: 1;
  height: 100%;
  align-items: center;
  display: flex;
}
app-root .mat-checkbox label.mat-checkbox-layout {
  width: 100%;
  align-items: center;
  height: 100%;
}
app-root .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container {
  margin: 0;
  margin-right: 8px;
  width: 14px;
  height: 14px;
}
app-root .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background: transparent !important;
}
app-root .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-checkmark-path {
  stroke-width: 4px;
}
app-root .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-mixedmark {
  width: 6px;
  height: 6px;
  border-radius: 0;
}
app-root .mat-checkbox label.mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-frame {
  border-color: #7586e0;
}
app-root .mat-sort-header-arrow {
  color: white;
}
app-root .mat-sort-header-stem {
  display: none;
}
app-root .asc .mat-sort-header-indicator {
  transform: translateY(0px) !important;
}
app-root .desc .mat-sort-header-indicator {
  transform: translateY(4px) !important;
}
app-root .mat-sort-header[aria-sort="descending"] .mat-sort-header-arrow {
  transform: translateY(0px) !important;
}
app-root .mat-sort-header[aria-sort="ascending"] .mat-sort-header-arrow {
  transform: translateY(3px) !important;
}
app-root .mat-chip-list-wrapper span {
  padding-left: 10px;
  color: #cfd7ff;
  font-size: 18px;
}
app-root .mat-chip-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  background-color: #1d233b;
  border: 1px solid #5e6ebf;
  height: 32px;
}
app-root .mat-chip-list .mat-chip-list-wrapper {
  flex-wrap: nowrap;
}
app-root app-root .mat-standard-chip,
app-root .mat-standard-chip {
  background-color: #454b70;
  color: #eaedff;
  font-size: 14px;
  height: 24px;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}
app-root .mat-chip.mat-standard-chip {
  background-color: #454b70;
  color: #eaedff;
}
app-root .mat-standard-chip.mat-chip-with-trailing-icon {
  border-radius: 0;
}
app-root .material-chip-list {
  overflow-x: auto;
  overflow-y: hidden;
}
app-root .material-chip-list .mat-chip-item {
  display: flex;
  align-items: center;
}
app-root .material-chip-list .mat-chip-item-value {
  color: aqua;
}
app-root .material-chip-list .mat-chip-item-value.putin {
  color: #21E452;
}
app-root .material-chip-list .mat-chip-item-value.putout {
  color: #ffba00;
}
app-root .mat-expansion-panel {
  background-color: transparent;
  color: unset;
}
